/* header */
header{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.header_div{
    width: 100%;
    margin: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
}
.logo_link{
    display: inline-block;
}
nav ul{
    display: flex;
    column-gap: 50px;
    white-space: nowrap;
}
.nav_li a{
    color: #758BFD;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 500;
}
.search_div{
    width: 222px;
    height: 56px;
    border-radius: 10px;
    border: 3px solid #758BFD;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fa-magnifying-glass{
    font-size: 32px;
    color: #758BFD;
    margin: 0 10px;
}

/* section */
section{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background: #DDEAF8;
}
.section_div_l1{
    display: flex;
    justify-content: center;
    margin: 120px 6%;
}
.section_div_l2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.section_div_l3{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
    justify-content: center;
    max-height: 700px;
    overflow: hidden;
}
h3{
    color: #27187F;
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 70px;
}
.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFF;
    padding: 30px;
    max-width: 400px;
    border-radius: 10px;
}
.card_p{
    margin-top: 30px;
    color: #133B3A;
    font-family: Ubuntu;
    font-size: 20px;
}
.card_img{
    height: 188px;
    object-fit: cover;
}
/* footer */
footer{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background: #758BFD;
    justify-content: space-between;
    padding: 75px 6%;
}
#footer_span{
    color: #FFF;
    font-family: Century Gothic;
    font-size: 20px;
}
.fa-brands{
    color: #FFF;
    font-size: 32px;
    margin: 20px 20px 0 0;
}
.payment_img{
    margin-left: 10px;
}